<html>
<head>
	<title>Contact Us</title>
</head>
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
    }
    .errorlist li {
        background-color: red;
        color: white;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>

<body>
	
	
	<h1>Contact Us</h1>
	{% if errors %}
		<ul>
			{% for error in errors %}
			<li>{{ error }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	<form action="/contact/" method="post">
		<div class="field" >
			{{ form.subject.errors }}
		</div>
	</form>
</body>
</html>